In [2]:
import plotly
from plotly.graph_objs import Scatter,Layout
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot 
import plotly.graph_objs as go 
import pandas as pd
import numpy as np

init_notebook_mode(connected=True)

In [4]:
df = pd.read_excel('data.xlsx')

In [5]:
df.head()

                   시각  전처리.FIT204E.PVAI  전처리.UFDP5.PVAI
0 2019-04-17 00:00:02          542.4375          0.4625
1 2019-04-17 00:00:32          565.4375          0.4625
2 2019-04-17 00:01:02          564.1250          0.4750
3 2019-04-17 00:01:32          564.3750          0.4375
4 2019-04-17 00:02:02          553.0625          0.4625

In [6]:
df.shape

(153310, 3)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153310 entries, 0 to 153309
Data columns (total 3 columns):
시각                  153309 non-null datetime64[ns]
전처리.FIT204E.PVAI    153309 non-null float64
전처리.UFDP5.PVAI      153309 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 3.5 MB

In [10]:
df =df.rename(columns={'전처리.FIT204E.PVAI':'RO','전처리.UFDP5.PVAI':'UF'})

In [12]:
df['시각'] = pd.to_datetime(df['시각'])
df.set_index(df['시각'], inplace=True)

In [14]:
df.drop('시각', axis=1, inplace=True)

In [15]:
df.head()

                           RO      UF
시각
2019-04-17 00:00:02  542.4375  0.4625
2019-04-17 00:00:32  565.4375  0.4625
2019-04-17 00:01:02  564.1250  0.4750
2019-04-17 00:01:32  564.3750  0.4375
2019-04-17 00:02:02  553.0625  0.4625

In [23]:
df_1H = df.resample(rule='1H').median()

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go

trace1 = go.Scatter(
    x=df_1H.index,
    y=df_1H.RO,
    name='yaxis data',
    mode = 'markers',
    opacity = 0.7
)
trace2 = go.Scatter(
    x=df_1H.index,
    y=df_1H.UF,
    name='yaxis2 data',
    yaxis='y2',
    mode = 'markers',
    opacity = 0.7
)
data = [trace1, trace2]
layout = go.Layout(
    title='Double Y Axis Example',
    yaxis=dict(
        title='yaxis title'
    ),
    yaxis2=dict(
        title='yaxis2 title',
        titlefont=dict(
            color='rgb(148, 103, 189)'
        ),
        tickfont=dict(
            color='rgb(148, 103, 189)'
        ),
        overlaying='y',
        side='right'
    )
)
fig = go.Figure(data=data, layout=layout)
plot(fig, filename='multiple-axes-double.html')

'multiple-axes-double.html'